# Copy these to .env and add correct values using the following command in the terminal
# cp .env.example .env

DATABASE_URL= # mysql://root@127.0.0.1:3306/dbName
NEXTAUTH_URL= # http://localhost:3000 for local
NEXTAUTH_SECRET= # openssl rand -base64 32
NEXT_PUBLIC_BASE_URL= # http://localhost:3000 for local
GOOGLE_ID=
GOOGLE_SECRET=
FACEBOOK_ID=
FACEBOOK_SECRET=
EMAIL_SERVER= # smtp://{user}:{password}{provider}:{host}
EMAIL_FROM= # noreply@example.com
PETFINDER_KEY=
PETFINDER_SECRET=